@charset "utf-8";
.wrapper{
    width:400px;
    height: 400px;
}
.wrapper div{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    line-height: 100px;
    text-align: center;
    font-size: 12px;
    border: 1px solid dimgray;
    float: left;
}
.push-3{
    margin-left: 300px;
}
.push-2{
    margin-left: 200px;
}
.push-1{
    margin-left: 100px;
}
.up-4{
    margin-top:-400px;
}
.up-3{
    margin-top:-300px;
}
.up-2{
    margin-top:-200px;
}
.up-1{
    margin-top:-100px;
}

